/* Reset básico e fontes */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #b2c6cfff ;
}

a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.upper-header a {
    background-color: rgb(17, 220, 235);
    transition: background-color, color 1s ease-in-out; 
    display: inline-block;
    border-radius: 15px;  
    padding: 10px;
}

.main-header {
    background-color: #4CAF50;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-header {
<<<<<<< HEAD
    background-color: #B5BB0F;
=======
    background-color: #93e6ecff ;
>>>>>>> 1554ad816a375111269dbe87a80be2aa76f6bacb
    padding: 8px 20px;
    text-align: left; /* Alinha os botões à esquerda */
}

header {
    text-align: center;
    padding: 10px 20px;
}

section {
    text-align: center;
}