@import "tailwindcss"; 

@theme {
  --color-base: #eff1f5;
  --color-mantle: #e6e9ef;
  --color-accent: #40a02b;
  --accent-soft: #a6d189;
  --color-text: #4c4f69;
  --color-subtext: #6c6f85;
  --color-success: #a6da95;
  --color-highlight: #1e66f5;
  --color-danger: #e64553;
  --radius-apple: 12px;
  --radius-apple-lg: 20px;
}